@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}


button:hover {
    cursor: pointer;
}

p {
    font-size: 16px;
    line-height: 32px;
    color: #7C8BA1;
    font-weight: 500px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 48px;
}

h2 {
    color: #243e63;
}

.btn:hover {
    color: #fff;
    
}

#landing {
    padding: 32px;
}

.row {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn {
    background-color: #6415ff;
    border-radius: 25px;
    padding: 10px 12px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.purple {
    color: #6415ff;
}

img {
    width: 100%;
}

.category {
    color: #6415ff;
    font-weight: 700;
}


/* 

NAVIGATION 

*/


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 40px;

}

.nav__links {
    transition: all 300ms ease;
}

.nav__link {
    padding: 0px 20px;
    font-weight: 600;
    font-size: 14px;
    color: rgb(36, 62, 99)
}

.nav__link:hover {
    text-decoration: underline;
    color: #6415ff;
    cursor: pointer;
}

.nav__link--signup {
    color: #fff;
    font-size: 16;
    font-weight: 600;
}

.nav__link--login {
    margin: 0px 12px 0px 48px;
}

.logo {
    max-width: 40px;
}

.logo__img {
    width: 100%;
}

.logo__name {
    margin: 0px 12px;
    font-weight: 900;
    font-size: 24px;
}

.logo__name:hover {
    color: #6415ff;
    cursor: pointer;
}

.subtext {
    padding: 32px 0px;
    font-size: 18px;
}

.container {
    padding: 96px 0px;
}

/* 

HEADER 

*/

.header__content {
    width: 43%;
    display: flex;
    flex-direction: column;
    height: 550px;
    padding-top: 36px;
}

.header__img {
    width: 57%;
    display: flex;
    align-items: flex-end;
    margin: 0px 24px 0px 0px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px 0px;
}

input {
    width: 100%;
    border-radius: 9999px;
    border-width: 2px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2rem;
    font-weight: 500;
    border-color: rgba(40, 66, 150, 0.1);
    transition: all 400ms ease; 
    color: rgba(40, 66, 150, 0.2);
}

input::placeholder {
    color: rgb(191, 200, 212);
}

input, input::placeholder {
    font-size: 16px;
}

input:focus {
    outline: 2px solid #6415ff;
	outline-offset: -2px;
}

.header__btn {
    position: absolute;
    right: 10px;
    top: 5x;
    bottom: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border-radius: 9999px;
    border: none;
    --tw-bg-opacity: 1;
    background-color: rgb(100 21 255 / var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-weight: 700;
    --tw-text-opacity: 1;
    color: rgb(247 250 252 / var(--tw-text-opacity));
    transition-duration: 300ms;
    max-width: 160px;
    font-size: 16px;
}

.header__email {
    max-width: 448px;
    position: relative;
}

.header__customers--desc {
    font-weight: 700;
    color: #A0AEC0;
    margin-bottom: 20px;
    font-size: 12px;
    letter-spacing: 1px;
}

.header__customers {
    padding-right: 100px;
    margin-top: 80px;
}

.header__customers--img {
    opacity: 0.5;
}

.header__description {
    color: #243e63;
}

/* 

SERVICES 

*/

.category {
    margin: 0px 0px 16px;
    letter-spacing: 1px;
}

.title {
    font-weight: 900;
    color: #243e63;
}
.icon__wrapper {
    flex-shrink: 0;
    border-radius: 9999px;
    border-width: 1px;
    padding: 1.25rem;
    text-align: center;
    border: 1px solid rgb(226, 232, 240);
    height: 66px;
    width: 66px;
}

.icon {
    width: 100%;

}

.services {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    margin: 0 auto;
}

.service {
    display: flex;
    width: calc(100% / 3);
    height: 210px;
    padding: 32px 24px
}

.services__row {
    margin: 0px 282px;
    padding: 96px 0px;
    
}

.service__content {
    margin: 8px 0px 0px 16px;
}

.service__desc {
margin-top: 16px;
display: flex;
flex-direction: column;
}

.services__desc {
    text-align: center;
    
}

.services__subtext {
    max-width: 100%;
    margin: 0px 288px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.services__row {
    margin: 0 auto;
}

/* 

QUALITY WORK 

*/

.quality__container {
    margin: 0px 131px;
    padding: 96px 0px;
}

.quality__row {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.quality__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 8px 36px 8px 0px;
    width: 576px;
}

.quality__img--wrapper {
    width: 50%;
    border: 1px solid #dee3eb;
}

.quality__btn, .values__btn {
    width: 141.25px;
    height: 45px;
    color: #fff;
}

.quality__subtext, .values__subtext {
    width: 550px;
}

/* 

STEPS

*/

.steps__row {
    display: flex;
    padding: 96 0px;
}

.steps__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 8px 36px;
}

.steps__desc {
    margin-top: 16px;
}


.steps__img--wrapper {
    width: 50%;
    display: flex;
    align-items: center;
}

.step__number {
    font-size: 36px;
    font-weight: 900px;
    color: rgb(203, 213, 224);
    font-weight: 600;
}

.step {
    display: flex;
    margin-top: 36px;
}

.step__content {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
}
.step__desc {
    margin-top: 12px;
    font-size: 14px;
    max-width: 320px;
}

/* 

VALUES

*/

.values__title {
    max-width: 576px;
}

.values__content {
    width: 50%;
}

.values__subcontent {
    display: flex;
}

.values__icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.values__img--wrapper {
    width: 50%;
}

.values__row {
    display: flex;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.values__subtitle {
    font-size: 20px;
}

.values__name {
    display: flex;
    align-items: center;
}

.values__name {
    display: flex;
}

.values__subcontent--text {
    margin-top: 8px;
}

.values__btn {
    margin-top: 48px;
}

/* 

PRICING 

*/

.pricing__subtitle--wrapper {
    padding: 40px 64px 35px 64px;
}

.pricing__subtitle {
    font-size: 20px;
}
.pricing__desc {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pricing__subtext {
    max-width: 576px;
    margin: 16px 0px;
    font-size: 18px;
}
.plans {
    display: flex;
    flex-wrap: wrap;
}

.personal__highlight {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}
.plan {
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: solid 1px #dee3eb;
    border-radius: 10px;
    margin: 32px;
    position: relative;
}

.pricing__list {
    border-top: 1px solid #dee3eb;
    border-bottom: 1px solid #dee3eb;
    width: 100%;
    padding: 32px;
}

.pricing__list--type {
    margin-top: 20px
}

.buynow {
    padding: 32px;
}

.pricing__btn {
    border-radius: 25px;
    padding: 16px 32px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.pricing__number {
    margin: 14px;
}

.pricing__monthly {
    font-size: 16px;
    color: rgba(160, 174, 192);
}
.personal__btn--wrapper {
    border-radius: 25px;
    padding: 16px 32px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}


.enterprise__highlight {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: 0.5rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.enterprise__btn--wrapper {
    border-radius: 25px;
    padding: 16px 32px;
    border: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.business__plan {
    background-image: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business__subtitle, .business__number, .business__monthly, .business__type, .business__list--type {
    color: white;
}

.business__btn {
    color: #6415ff;
}

.business__btn--wrapper {
    border-radius: 25px;
    padding: 16px 32px;
    border: none;
    font-size: 14px;
    font-weight: 600;
    background-color: white;
}